nav { 
    display: inline-block;
	width: 50%;
	height:80px; 		 /* Menú  con las misma altura que las imagenes*/
	vertical-align: top; /* Para que quede en linea el menú*/
   }
   
nav ul {		
	text-align: right;  /* Menú a la derecha*/
	margin-top: 50px;  
	 }
	
nav li{
	display:inline-block;
	width:90px;
	list-style-type:none;/*circle square upper-roman lower-alpha*/
	}
   
 nav a{
	display:block;
	text-decoration: none; /*none, underline, overline, line-through, underline overline*/
    font-family: 'PT Sans', sans-serif;
	font-size:0.80em;
	font-weight: 600;
	color:#484848;
	text-align: center;
	} 

nav a:hover{/*Cambiamos el botón a color gris cuando ponemos el cursor encima*/
	color:gray;
	
	}





