footer .contenedor-cajas{
    text-align: center;
    width: 70%;
    margin: 30px auto;  
  
}

footer .caja{
    width:15%;
    max-width: 300px;
    display:inline-block;
    vertical-align: top;
    margin-left: 50px;
    text-align:left;
    font-family: 'PT Sans', sans-serif; 
 

}

footer h4{
    padding-bottom: 15px;
    color:rgb(0, 0, 0);
}

footer img{
    padding-bottom: 3px;
}
footer .item{
    color: black;
    font-size: 0.90em;
    margin-bottom: 2px;
    letter-spacing: 0.01em;
    
}

.item img{
    width: 36px;
    height: 36px;
}

.item .mas-peque{
    width: 28px;
    height: 28px;
}

.contenedor-pie{
    background: black;
    padding: 20px;
    text-align: right;
}

.contenedor-pie a{
    text-decoration: none;
    font-family: arial narrow;
}

footer a{
    font-family: arial narrow;
    font-size: 20px;
}
footer a:hover{
    text-decoration: underline;
}
footer hr{
    margin:10px auto;
    width: 75%;
}

footer .pie-footer{
    color: blanchedalmond;
    background-color: #6662bf;
    text-align:left; 
    width: 100%;
}

footer .pie-footer .fecha {
    color: blanchedalmond;
    text-align:right;
}
footer .pie-footer .correo a {
    text-align:center;
}

